body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    background-color: #C2EFC4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-maria-quote {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 5px;
    background-color: #dbdbdb;
}

.maria-quote {
    font-style: oblique;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 10px solid #000;
    border-radius: 10px;
}

.main-text {
    margin-top: 2em;
    margin-bottom: 2em;
}

.main-text-center {
    text-align: center;
}

.yellow-room {
    background-color: yellow;
}
.orange-room {
    background-color: darkorange;
}
.blue-room {
    background-color: dodgerblue;
}
.green-room {
    background-color: lightgreen;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-left: 1em;
    color: grey;
}

    footer a:link {
        color: inherit;
        text-decoration: inherit;
    }

    footer a:hover {
        cursor: url(../Images/raspberryPiSliceCursor.png) 26 20, auto;
    }

    footer a:visited {
        color: inherit;
        text-decoration: inherit;
    }