@{
    ViewBag.Title = "Home Page";
}

<div class="col-sm-12 main-maria-quote">
    <q class="maria-quote">
        The most important period of life is not the age of university studies but the
        period from birth to the age of six…for that is the time when intelligence itself, her greatest implement
        is being formed.
    </q> - Maria Montessori -
</div>

    <iframe width="840" height="473" src="https://www.youtube.com/embed/JCsXyBAC9SE?autoplay=0&rel=0&amp;showinfo=0"
            frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>


<div class="main-text main-text-center">
    At A Village Green Montessori, we offer flexible times and days. <br /><br />
    Our school day is from 8:30am-3:30pm Monday thru Friday. <br /><br />
    Before and after school programs are available beginning at 7:30am and ending at 4:30pm. <br />
    Parents may choose from two, three, four or five day program options for 2’s and Early 3’s, Preschoolers, and Kindergarteners to best meet their families schedule.
</div>