
@{
    ViewBag.Title = "Password Recovery";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal">
            </form>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal">

                <div class="row">
                    <div class="col-sm-12">
                        <p>Enter the E-mail address that you signed up with, and we will send you an E-mail with instructions on how to reset your password.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-horizontal">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="Enter registered E-mail" name="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info form-control">SEND RESET INSTRUCTIONS</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

}

