@{
    ViewBag.Title = "ForgotPasswordSent";
}

<div class="container">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
            <div>
                <h2>Reset Instructions Sent!</h2>
                <p>Go check your e-mail inbox and follow the instructions there to reset your password.</p>
            </div>
        </div>
        <div class="row">
            <div>
                @Html.ActionLink("Go to the Home Page", "Index", "Home", null, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            window.setInterval(function () {
                window.location.href = "/";
            }, 5000);

        });
    </script>
}