@model AVGM.Models.Guardian
@{
    ViewBag.Title = "Index";
}

<h4 style="color: fuchsia">SCHOOL CLOSING NOTICE</h4>
<h4 style="color: fuchsia">OTHER NOTIFICATIONS</h4>
<h4 style="color: fuchsia">DAY CALENDAR PER CHILD IN FOREACH</h4>